#main{
    background-color: rgb(176, 203, 227);
    height: 100%;
    


   .subtitulo--cambios{
    animation: move 2s infinite ease-in-out;
    display: flex; flex-direction: row;
    justify-content:center;
    color: rgb(247, 249, 255);
    font-size: 2em;
    font-family: 'Roboto Condensed', sans-serif;
    border-bottom: 2px solid rgb(247, 249, 255);

   }
    
    .subtitulo{
        animation: move 2s infinite ease-in-out;
        display: flex; flex-direction: row;
        justify-content:center;
        color: rgb(247, 249, 255);
        font-size: 2em;
        font-family: 'roboto condensed', sans-serif;
        flex-wrap: wrap;
        border-bottom: 2px solid rgb(247, 249, 255);
    }
    .p{
        font-family: 'Montserrat', sans-serif;
        display: flex;flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
    }
    }