nav> div{
    @include flex(row, space-around, center)
  
}
header ::after, header ::before {
    box-sizing: none;
}
li {
    display: flex; flex-direction: row;
    justify-content: space-around;
    text-align:center
}
ol ul{
    padding-left: none;
    margin-block-start: 0%;
    margin-block-end: 0%;
}
.ph{
    display: flex; flex-direction: column;
justify-content: center;
align-items: center;
}
.gc{
    display: flex;
    justify-content: center;
    filter: grayscale(50%);
    border-radius: 30px;


.grid__container{
    height: 980px - $ancho;
    width: 560px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(153px, 1fr));
    grid-auto-rows: minmax(163px, auto);
    margin-bottom: 30px;
    
    gap: 1px;

    }

    .grid__item{
        display: flex;
        font-size: 1.5em;
         border-radius: 4px;
         &--cambios{
             @extend .grid__item;
             color: brown;
         }
        }
         

}

.wide{
    grid-column: span 2;
}
.tall{
    grid-row: span 2;
}
.b{
    margin-bottom: 2rem;
}