.subtitulo{
    animation: move 2s infinite ease-in-out;
    display: flex; flex-direction: row;
    justify-content:center;
    color: rgb(247, 249, 255);
    font-size: 20px;
    font-family: 'lobster',cursive;
}
.p{
    display: flex;
     justify-content: center;
    border-bottom: 4px solid rgb(64, 153, 159);
    margin-bottom: 10px;
    border-radius: 5px;
    box-sizing: border-box;
}
.cards{
    display: grid;
    grid-template-columns:repeat(2,210px);
    grid-template-rows:repeat(2,350px);
    border-radius: 4px;
    justify-content: center;
    row-gap: 2px;

    &__pan:nth-of-type(1){
        display: grid;
        grid-column: 1 / 2;
        grid-row: 1 / 2 ;
    }
    &__pan:nth-of-type(2){
        display: grid;
        grid-column: 2 / 3 ;
        grid-row: 1 / 2 ;
    }
    &__pan:nth-of-type(3){
        display: grid;
        grid-column: 1 / 2;
        grid-row: 2 / 3;
    }
    &__pan:nth-of-type(4){
        display: grid;
        grid-column: 2 / 3;
        grid-row: 2 / 3;
    }

    }