.negocios{
    gap: 10px;
    display: flex;flex-direction: column;
    justify-content: space-evenly
    
}
.beccar{
    display: flex; flex-direction: row;
    justify-content: center;
}
.sanisidro{
    display: flex; flex-direction: row;
    justify-content: center;
    
}