
   /*var*/
   $ancho: 300px;

    /*colors*/
    $color-primary: rgb(247, 249, 255);
    $color-secondary: rgb(24, 24, 24);
    $text-color: rgb(3, 3, 3);
    $color-hover: #bb1818;
    $color-main: burlywood;
    /*spacing*/
    $spacing-small: 2rem;
    $spacing-big: 1400px;
    $spacing-1: 1.5rem;
    /*font family*/
    $font-title:  Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    $font-subtitle: 'Lobster',cursive;
    $font-secondary: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
    /*font sizes*/
    $size-short: 2em;
    $size-medium: 1.5em;
    $size-large: 20px;

    /*mapa*/
    $borders: (
        one: 1px solid red,
        two: 2px dashed blue,
        three: 3px double green
      );
